<div class="col-6">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" placeholder="Name" name="name">
            <label for="floatingInput">Name</label>
        </div>
    </div>
    <div class="col-6">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" placeholder="Category" name="category">
            <label for="floatingInput">Category</label>
        </div>
    </div>
    <div class="col-6">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" placeholder="Date" name="date">
            <label for="floatingInput">Date</label>
        </div>
    </div>
    <div class="col-6">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" placeholder="Rate" name="rate">
            <label for="floatingInput">Rate</label>
        </div>
    </div>
    <div class="col-12">
        <div class="form-floating mb-3">
            <textarea type="text" class="form-control" id="floatingInput" placeholder="Comment" name="comment" style="height:  200px;">{{this.comment}}</textarea>
            <label for="floatingInput">Comment</label>
        </div>
    </div>

    <div class="col-12 d-grid">
        <button class="btn btn-primary" type="submit">Submit</button>
    </div>